<ion-content color="new">

<ion-image>
  <img src="./assets/Rectangle 20 (1).png" height=90vh/>
  <ion-button fill="clear" class="tuga">
    <img src="./assets/Group 34 (2).png" height="60vh"/>
  </ion-button>
  
  <ion-buttons>

  
<ion-button fill="clear" class="nov">
  <img src="./assets/Novidades.png" height=12vh/>
</ion-button>


<ion-button fill="clear" class="rec">
  <img src="./assets/Recém-Nascido.png" height=12vh/>
</ion-button>

<ion-button fill="clear" class="be">
  <img src="./assets/Bebé.png" height=12vh/>
</ion-button>

<ion-button fill="clear"  class="cr">
  <img src="./assets/Criança.png" height=15vh/>
</ion-button>


<ion-button fill="clear"  class="be">
  <img src="./assets/Mãe.png" height=12vh/>
</ion-button>

<ion-button fill="clear"  class="be">
  <img src="./assets/Cuidados.png" height=12vh/>
</ion-button>

<ion-button fill="clear"  class="cr">
  <img src="./assets/Brinquedos.png" height=15vh/>
</ion-button>

<ion-button fill="clear"  class="be">
  <img src="./assets/Casa.png" height=12vh/>
</ion-button>


  </ion-buttons>


  <img src="./assets/Component 23 (1).png" height=400vh class="tex"/>


  <ion-button  class="ver" fill="clear">
    <img src="./assets/Component 23 (2).png" height=30vh  />
  </ion-button>

  <ion-button  class="seta" fill="clear">
    <img src="./assets/arrow 1.png" height=30vh  />
  </ion-button>

  <ion-button  class="seta2" fill="clear">
    <img src="./assets/arrow 1.png" height=30vh  />
  </ion-button>



</ion-image>
<ion-image>

  <img src="./assets/Rectangle 55.png" height=250vh class="footer"/>
 

 <img src="./assets/Component 24.png" height=150vh class="footertxt"/>

</ion-image>


</ion-content>