.tuga{
  height: 12vh;
 margin-top: -3.25cm;
}

.nov{
  margin-left: 4cm;
  margin-top: -3.5cm;
}

.rec{
  margin-left: 0.75cm;
  margin-top: -3.5cm;

}

.be{
  margin-left: 0.75cm;
  margin-top: -3.5cm;

}

.cr{
  margin-left: 0.75cm;
  margin-top: -3.35cm;

}

.tex{
  margin-left: 15cm;
  margin-top: 1.5cm;
}

.ver{
  margin-left: -3.95cm;
  margin-top: -11cm;
}

.seta{
  margin-left: -3cm;
  margin-top: -6.25cm;
}

.seta2{
  margin-left: -1.7cm;
  margin-top: -2cm;
}

.footertxt{
 
  margin-top: -15cm;
  margin-left: 2cm;
}

.footer{
  
  margin-top: 5cm;
}

